<div class="card border-0" style="width: 18rem;">
  <div class="d-flex  justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="../../assets/img/paulaFoto.jpeg" alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace">Paula Figueiredo</h5>
    <p class="card-text  text-center  text-monospace">Aluna do bootcamp de desenvolvimento web full stack na Generation Brasil</p>

    <a href="https://www.linkedin.com/in/paula-figueiredo-a08988191/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="https://github.com/paulafigueiredo" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

  </div>
</div>
