<div class="container w-100">

  <div class="row w-100 mt-5">
    <div class="col-md-4">
      <h1 class="text-info text-left font-weight-bold" style="text-shadow: #000 -1px -1px;">SUA HORA DE DAR MATCH</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Em transiçao de carreira? Ou em busca da primeira oportunidade?</h3>
      <p class="text-justify  d-flex justify-content-center">Sabemos o quanto é dificil uma transiçao de carreira,ou iniciar uma vida profissional.
        Empresas pedindo experiencia, a falta de tempo e de contatos para procurar uma vaga que lhe ofereça segurança para começar, a idade as vezes que nos fazem repensar sobre a transiçao. Enfim sabemos e entendemos todos os medos e euforias que pode trazer. Compreendemos que ter apoio nesses momentos é essencial.
      </p>
    </div>
      <div class="col-md-4">
      <p  class="text-justify  d-flex justify-content-center">Pensando nisso criamos nossa plataforma totalmente voltada para ajudar nessa busca pela primeira experiencia na area em que voce deseja atuar. Oferecemos nossa plataforma para que voce possa expor um pouco do que ja sabe, do que está estudando, e do que deseja aprender nessa nova jornada. E quem sabe uma empresa esteja disposta a lhe oferecer essa chance hein?  <br><br>É simples e facil, você se cadastra, fala sobre você, o que esta estudando, sua visão de futuro e seu plano de carreira, e nós estaremos aqui divulgando da melhor maneira possivel, ate que voce consiga sua tao sonhada vaga.
      </p>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/img/curriculo.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Gostou ?</h5>
        <p class="card-text">Entao não perde tempo de  match com aquela empresa dos sonhos. Faça um cadastro desenvolva seu perfil, se mostre para as empresas e demonstre sua vontade de crescer.</p>
        <a class="btn btn-primary" routerLink='/cadastro'>ME COLOCAR NO RADAR</a>
      </div>
    </div>
  </div>


  <!--<div class="parallax"></div>-->
  <div class="row">
    <div class="col-md-12 mt-5 mb-5">
    <h2 class="text-justify  d-flex justify-content-center">Aqui fica um exemplo de como ficara seu perfil</h2>
    </div>
  </div>


  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/paula.jpeg" alt="Imagem de capa do card">
      <div class="card-body">
        <h4 class="card-title">Paula Figueiredo</h4>
        <p class="card-text">Back-end Developer - Java • Spring Boot • Docker • MySQL <br></p>
        <p class="font-weight-bold">Formaçao</p>
        <p class="font-weight-bold">Generation Brasil: </p><p>Desenvolvedor Java Jr.</p>
        <p class="font-weight-light">06-2020 / 09-2020</p>
          <p>• Java <br>
            • MySQL <br>
            • Spring Boot <br>
            • Docker <br>
            • Fundamentos Web - HTML5, CSS3, Js, Bootstrap <br>
            • Angular
          </p>
      </div>
      <div class="card-footer">
        <a href="https://www.linkedin.com/in/figueiredo-paula/">Meu Linkedin</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/raquel1.jpeg" alt="Imagem de capa do card">
      <div class="card-body">
        <h4 class="card-title">Raquel Figueiredo</h4>
        <p class="card-text">Developer web Front-End | JavaScript - HTML5 - CSS3 - Angular | Java - MySQL - Spring Boot - Docker</p>
        <p class="font-weight-bold">Formaçao</p>
        <p class="font-weight-bold">Generation Brasil: </p><p>Desenvolvedor Java Jr.</p>
        <p class="font-weight-light">06-2020 / 09-2020</p>
        <p>• Java <br>
          • MySQL <br>
          • Spring Boot <br>
          • Docker <br>
          • Fundamentos Web - HTML5, CSS3, Js, Bootstrap <br>
          • Angular
        </p>
      </div>
      <div class="card-footer">
        <a href="https://www.linkedin.com/in/raquel-figueiredo-6b36061b5/"> Meu Linkedin</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/angela.jpeg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Angela Deodato</h5>
        <p class="card-text">Desenvolvedor Web Full Stack Java Jr • MySQL • Angular • Docker • JavaScript • CSS •HTML• Front- end.</p>
        <p class="font-weight-bold">Formaçao</p>
        <p class="font-weight-bold">Generation Brasil: </p><p>Desenvolvedor Java Jr.</p>
        <p class="font-weight-light">06-2020 / 09-2020</p>
        <p>• Java <br>
          • MySQL <br>
          • Spring Boot <br>
          • Docker <br>
          • Fundamentos Web - HTML5, CSS3, Js, Bootstrap <br>
          • Angular
        </p>
      </div>
      <div class="card-footer">
        <a href="https://www.linkedin.com/in/angela-deodato-b9756b169/"> Meu Linkedin</a>
      </div>
    </div>
  </div>










  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver mais Candidatos</button>
    </div>
  </div>

</div>
